.img{

width: 200px;
height: 200px;
border: style;
border-style: solid;
border-color: #000;
border-width: 1px;
}

.bg {

 background-image: url("../img/planodefundo.jpg"); 
 background-repeat: no-repeat ;
 background-size: 100%;

}